# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Logs
*.log
